[flake8]
max-line-length = 79
dockstring_convention = all
ignore = D203, D213, D406, D407, n812, w503
extend-ignore = E203
exclued = .git, __pycache__, .idea, .vscode, .ipynb_checkpoints
black-config = .black